:root {
	--color__title: #D66D9B;
	--color__accent-1: #EE1568;
	--color__accent-2: #F35B96;
	--color__white: #ffffff;
	--color__text: #000000;
	--color__switcher-bg: #E4E0E0;
	--color__switcher-border: #E9E9E9;
	--color__lilac-dark: #886699;
	--color__lilac: #BF8ED8;
	--color__marina: #34D6CD;
	--color__blue: #B7D2F9;
	--color-green: #41A570;
	--color-orange: #FD732D;
	--color-purple: #CC21DC;

	--grad-1: linear-gradient(180deg, #CF1E61 0%, #F60A64 99.99%, #81CD8F 100%);
	--grad-2: linear-gradient(356.16deg, #FFFFFF 77.03%, rgba(255, 255, 255, 0.71) 77.03%, #FFFFFF 77.03%, #FFFFFF 86.29%, #ED0F64 98.71%);
	--grad-3: linear-gradient(180deg, #6AC97C 0%, #81CD8F 99.99%, #81CD8F 100%);
	--grad-btn: linear-gradient(119.7deg, #6ECA7F -23%, #FBBA7D -22.99%, #F572A4 68.4%);
	--grad-btn-reverse: linear-gradient(-119.7deg, #6ECA7F -23%, #FBBA7D -22.99%, #F572A4 68.4%);
	--grad-peach:
		linear-gradient(358.46deg, #FFFFFF 87.24%, rgba(255, 255, 255, 0.71) 87.24%, #FFFFFF 87.24%, #FFFFFF 93.46%, #FDB49A 101.81%);
	--grad-accent: linear-gradient(119.7deg, #6ECA7F -23%, #FBBA7D -22.99%, #FFA1E4 68.4%);
	--grad-chart: linear-gradient(-90deg, rgba(251, 186, 125, 0) 0.01%, rgba(214, 109, 155, 0) 0.02%, #FFFFFF 0.03%, #FFA1E4 100%);
	--grad-lilac: linear-gradient(358.46deg, #FFFFFF 87.24%, rgba(255, 255, 255, 0.71) 87.24%, #FFFFFF 87.24%, #FFFFFF 93.46%, #BF8ED8 101.81%);
	--grad-marina: linear-gradient(358.46deg, #FFFFFF 87.24%, rgba(255, 255, 255, 0.71) 87.24%, #FFFFFF 87.24%, #FFFFFF 93.46%, #34D6CD 101.81%);
	--grad-marina-accent: linear-gradient(-119.7deg, #F774A4 -23%, #35B1F8 -22.99%, #34D6CD 68.4%);
	--grad-blue: linear-gradient(358.46deg, #FFFFFF 87.24%, rgba(255, 255, 255, 0.71) 87.24%, #FFFFFF 87.24%, #FFFFFF 93.46%, #B7D2F9 101.81%);
	--grad-blue-accent: linear-gradient(-119.7deg, #F774A4 -23%, #35B1F8 -22.99%, #B7D2F9 68.4%);
	--grad-green: linear-gradient(358.46deg, #FFFFFF 87.24%, rgba(255, 255, 255, 0.71) 87.24%, #FFFFFF 87.24%, #FFFFFF 93.46%, #41A570 101.81%);
	--grad-orange: linear-gradient(358.46deg, #FFFFFF 87.24%, rgba(255, 255, 255, 0.71) 87.24%, #FFFFFF 87.24%, #FFFFFF 93.46%, #FD732D 101.81%);
	--grad-purple: linear-gradient(358.46deg, #FFFFFF 87.24%, rgba(255, 255, 255, 0.71) 87.24%, #FFFFFF 87.24%, #FFFFFF 93.46%, #CC21DC 101.81%);

	--shadow-1: 0px 2px 4px rgba(0, 0, 0, 0.25),
		0px -2px 10px rgba(255, 255, 255, 0.25);
	--shadow-2: 10px 0px 20px rgba(0, 0, 0, 0.1);
	--shadow-3: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
}